/* 노멀라이징 */
* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

img, video {
    max-width: 100%;
    height: auto;
}

ul, ol, li {
	list-style: none;
}

/* 라이브러리 */
.con {
    width: 1640px;
    margin: 0 auto;
}

.eng-font {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}
/*************** 스타일 ***************/
/*** 헤더 시작 ***/
.ps-top {
    position: fixed;
    top: 0;
    z-index: 9999;

    width: 100%;
    background-color: #fff;
    font-size: 20px;

    transition: .3s;
}

.ps-top.top {
    background-color: transparent;
}

.ps-top.down {
    transform: translateY(-120px);
}

.ps-top.top:hover {
    background-color: #fff;
}

.ps-top > .top-wrap {
    display: flex;
    align-items: center;
}

/* 헤더 > 로고 */
.ps-top > .top-wrap > .logo > a {
    display: block;
    width: 105px;
    height: 40px;

    transition: .3s;
}

.ps-top.top > .top-wrap > .logo > a {
    background: url(../img/logo/logo_white.svg) no-repeat;
}

.ps-top > .top-wrap > .logo > a,
.ps-top.top:hover > .top-wrap > .logo > a {
    background: url(../img/logo/logo.svg) no-repeat;
}

/* 헤더 > 메뉴 */
.ps-top > .top-wrap > .menu {
    display: flex;
    flex: auto;
    align-items: center;

    margin-left: 70px;
    height: 120px;
}

.ps-top > .top-wrap > .menu > .gnb {
    padding: 40px 30px 0;
}

.ps-top > .top-wrap > .menu > .gnb > a {
    display: block;
    padding: 0 10px 40px;
    color: #222;

    transition: .3s;
}

.ps-top.top > .top-wrap > .menu > .gnb > a {
    color: #fff;
}

.ps-top.top:hover > .top-wrap > .menu > .gnb > a { 
    color: #222;
}

.ps-top > .top-wrap > .menu > .gnb > a:hover {
    color: #ff0052;
}

.ps-top > .top-wrap > .menu > .gnb > .downMenu-wrap {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    padding: 50px 0;
    border-top: 8px solid #222;
    background-color: #fff;
    overflow: hidden;
}

.ps-top > .top-wrap > .menu > .gnb > .downMenu-wrap > .inner {
    display: flex;
}

.ps-top > .top-wrap > .menu > .gnb > .downMenu-wrap > .inner > .downMenu {
    display: flex;
    justify-content: space-between;

    width: 100%;
    margin-right: 130px;
}

.ps-top > .top-wrap > .menu > .gnb > .downMenu-wrap > .inner > .downMenu > ul > li > a,
.ps-top > .top-wrap > .menu > .gnb > .downMenu-wrap > .inner > .downBanner > ul > li > a {
    line-height: 40px;
    border-bottom: 8px solid #fff;
    font-size: 18px;
    color: #000;
    transition: .3s;
}

.ps-top > .top-wrap > .menu > .gnb > .downMenu-wrap > .inner > .downMenu > ul > li > a:hover,
.ps-top > .top-wrap > .menu > .gnb > .downMenu-wrap > .inner > .downBanner > ul > li > a:hover {
    color: #ff0052;
    border-bottom-color: #ff0052;
}
.ps-top > .top-wrap > .menu > .gnb > .downMenu-wrap > .inner > .downBanner + .downBanner {
    margin-left: 40px;
}

.ps-top > .top-wrap > .menu > .gnb > .downMenu-wrap > .inner > .downBanner > ul {
    display: flex;
}

.ps-top > .top-wrap > .menu > .gnb > .downMenu-wrap > .inner > .downBanner > ul > li + li {
    margin-left: 80px;
}

.ps-top > .top-wrap > .menu > .gnb > .downMenu-wrap > .inner > .downBanner > a {
    display: block;
    margin-top: 8px;
}

.ps-top > .top-wrap > .menu > .gnb > .downMenu-wrap > .inner > .downBanner > a > img {
    vertical-align: top;
    width: 516px;
    height: 298px;
}

.ps-top > .top-wrap > .menu > .gnb > .downMenu-wrap > .inner > .sponBanner {
    display: flex;
    margin: 8px 50px 0 0;
}

.ps-top > .top-wrap > .menu > .gnb > .downMenu-wrap > .inner > .sponBanner > li > a {
    display: block;
}

.ps-top > .top-wrap > .menu > .gnb > .downMenu-wrap > .inner > .sponBanner > li > a > img {
    vertical-align: top;
    width: 100%;
}

.ps-top > .top-wrap > .menu > .gnb > .downMenu-wrap.bg {
    color: #fff;
    padding: 0;
}

.ps-top > .top-wrap > .menu > .gnb > .downMenu-wrap.bg > .bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../img/menu/smartfit_bg.png);
}

.ps-top > .top-wrap > .menu > .gnb > .downMenu-wrap.bg > .bg > .inner {
    display: flex;
    align-items: center;
    user-select: none;
    height: 260px;
}

.ps-top > .top-wrap > .menu > .gnb > .downMenu-wrap.bg > .bg > .inner > h3 {
    font-size: 24px;
    margin-right: 80px;
}

.ps-top > .top-wrap > .menu > .gnb > .downMenu-wrap.bg > .bg > .inner > p {
    font-size: 20px;
}

/* 헤더 > 아이콘 */
.ps-top > .top-wrap > .icon {
    display: flex;
    align-items: center;
}

.ps-top > .top-wrap > .icon > button {
    display: block;
    width: 24px;
    height: 24px;

    border: 0;
    outline: 0;
    cursor: pointer;

    transition: .3s;
}

.ps-top > .top-wrap > .icon > button + button,
.ps-top > .top-wrap > .icon > button + a {
    margin-left: 30px;
}

.ps-top.top > .top-wrap > .icon > .icon-search {
    background: url(../img/icon/icon_search_white.svg) no-repeat;
}

.ps-top > .top-wrap > .icon > .icon-search,
.ps-top:hover > .top-wrap > .icon > .icon-search {
    background: url(../img/icon/icon_search.svg) no-repeat;
}

.ps-top.top > .top-wrap > .icon > .icon-cart {
    background: url(../img/icon/icon_cart_white.svg) no-repeat;
}

.ps-top > .top-wrap > .icon > .icon-cart,
.ps-top:hover > .top-wrap > .icon > .icon-cart {
    background: url(../img/icon/icon_cart.svg) no-repeat;
}

.ps-top > .top-wrap > .icon > a {
    color: #222;
    transition: .3s;
}

.ps-top.top > .top-wrap > .icon > a {
    color: #fff;
}

.ps-top:hover > .top-wrap > .icon > a {
    color: #000;
}

/*** 헤더 끝 ***/

/*** 메인 비주얼 시작 ***/
.mainVisual {
    width: 100%;
    min-width: 1640px;
    margin: 0 auto 120px;
}

.mainVisual > .visual-wrap {
    width: 100%;
    overflow: hidden;
}

/* 메인 비주얼 > 슬라이드 페이지 */
.mainVisual > .visual-wrap > .slides {
    position: relative;
}

.mainVisual > .visual-wrap > .slides > .slide-page .box {
    position: relative;
}

.mainVisual > .visual-wrap > .slides > .slide-page .box > a {
    display: block;
}

.mainVisual > .visual-wrap > .slides > .slide-page .box > a > .img-box {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    height: 100vh;
}

.mainVisual > .visual-wrap > .slides > .slide-page .box > a > .txt-box {
    position: absolute;
    left: calc((100% - 1640px)/2);
    bottom: 140px;
    padding-bottom: 45px;
    color: #fff;
    font-size: 48px;
    line-height: 64px;
}

/* 메인 비주얼 > 페이지 넘버 */
.mainVisual > .visual-wrap > .slides > .slide-num {
    display: flex;
    align-items: center;
    
    position: absolute;
    left: calc((100% - 1640px)/2);
    bottom: 126px;

    width: 300px;
    font-size: 14px;
    color: #fff;
}

.mainVisual > .visual-wrap > .slides > .slide-num > .page-num {
    margin-right: 10px;
}

.mainVisual > .visual-wrap > .slides > .slide-num > .page-total {
    opacity: .5;
    margin-left: 10px;
}

.mainVisual > .visual-wrap > .slides > .slide-num > .page-track {
    width: 100%;
    height: 6px;
    background-color: rgba(255, 255, 255, 0.3);
}

.mainVisual > .visual-wrap > .slides > .slide-num > .page-track > .track {
    width: 0%;
    height: 100%;
    background-color: #fff;
}

/* 메인 비주얼 > 페이지 버튼 */
.mainVisual > .visual-wrap > .slides > .slide-btn {
    display: flex;
    position: absolute;
    bottom: 112px;
    left: calc((100% - 1640px)/2 + 338px );
}

.mainVisual > .visual-wrap > .slides > .slide-btn > div {
    position: relative;
    width: 56px;
    height: 57px;
    cursor: pointer;
}

.mainVisual > .visual-wrap > .slides > .slide-btn > .prev {
    left: auto;
    background: url(../img/main_visual/btn_arrow_prev.svg) center no-repeat;
}

.mainVisual > .visual-wrap > .slides > .slide-btn > .next {
    right: -4px;
    background: url(../img/main_visual/btn_arrow_next.svg) center no-repeat;
}

/*** 메인 비주얼 끝 ***/

/*** 메인 배너 시작 ***/
.mainBanner {
    margin-bottom: 120px;
}

.mainBanner > .banner-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 1640px;
    max-width: 1920px;
    margin: 0 auto;
}

.mainBanner > .banner-wrap > a {
    position: relative;
    display: block;
    color: #fff;
    font-weight: bold;
}

.mainBanner > .banner-wrap > a + a {
    margin-left: 20px;
}

.mainBanner > .banner-wrap > a > .txt-box {
    position: absolute;
    bottom: 80px;
    left: 80px;
}

.mainBanner > .banner-wrap > a > .txt-box > h3 {
    font-size: 48px;
    line-height: 67px;
}

.mainBanner > .banner-wrap > a > .txt-box > p {
    font-size: 22px;
    line-height: 30px;
    margin-top: 5px;
}


/*** 메인 배너 끝 ***/


/*** 상품 소개 시작 ***/
.prdIntro {
    margin-bottom: 120px;
}

.prdIntro > .intro-wrap {
    width: 100%;
    overflow: hidden;
}

.prdIntro > .intro-wrap > .slides {
    position: relative;
}

.prdIntro > .intro-wrap > .slides > .slide-page .box {
    background-color: rgb(248, 248, 248);
}

.prdIntro > .intro-wrap > .slides > .slide-page .box > a {
    position: relative;
    display: block;
    width: 1640px;
    height: 880px;
    margin: 0 auto;
}

.prdIntro > .intro-wrap > .slides > .slide-page .box > a > .img-box {
    width: 100%;
}

.prdIntro > .intro-wrap > .slides > .slide-page .box > a > .img-box > .slide-btn {
    position: absolute;
    top: 320px;
    left: 0;
    z-index: 9999;
}

.prdIntro > .intro-wrap > .slides > .slide-page .box > a > .img-box > .slide-btn > div {
    display: inline-block;
    width: 48px;
    height: 48px;
    overflow: hidden;
}

.prdIntro > .intro-wrap > .slides > .slide-page .box > a > .img-box > .slide-btn > .prev {
    margin-right: 10px;
    background: #222 url(../img/product_intro/icon_arrow_L_white.svg) center no-repeat;
}

.prdIntro > .intro-wrap > .slides > .slide-page .box > a > .img-box > .slide-btn > .next {
    background: #222 url(../img/product_intro/icon_arrow_R_white.svg) center no-repeat;
}

.prdIntro > .intro-wrap > .slides > .slide-page .box > a > .txt-box {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    padding-top: 100px;
}

.prdIntro > .intro-wrap > .slides > .slide-page .box > a > .txt-box > .head {
    font-size: 78px;
    line-height: 90px;
    margin-bottom: 40px;
}

.prdIntro > .intro-wrap > .slides > .slide-page .box > a > .txt-box > .lore {
    position: absolute;
    bottom: 100px;
}

.prdIntro > .intro-wrap > .slides > .slide-page .box > a > .txt-box > .lore > p {
    display: inline-block;
    background-color: #222;
    height: 70px;
    line-height: 1.5;
    padding: 10px 20px;
    margin-top: 8px;

    color: #fff;
    font-size: 36px;
    font-weight: bold;
}

.prdIntro > .intro-wrap > .slides > .slide-num {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 95px;
    right: 400px;
}

.prdIntro > .intro-wrap > .slides > .slide-num > .btn {
    position: relative;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: #222;
    opacity: 1;
    transform: scale(0.5);
    transition: .3s;
    cursor: pointer;
}

.prdIntro > .intro-wrap > .slides > .slide-num > .btn:hover {
    transform: scale(1);
}

.prdIntro > .intro-wrap > .slides > .slide-num > .btn > p {
    visibility: hidden;
    opacity: 0;
}

.prdIntro > .intro-wrap > .slides > .slide-num > .btn:hover > p {
    visibility: visible;
    opacity: 1;
}

.prdIntro > .intro-wrap > .slides > .slide-num > .btn.active {
    transform: scale(1);
}

.prdIntro > .intro-wrap > .slides > .slide-num > .btn.active > p {
    visibility: visible;
    opacity: 1;
}
